<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Invalid data list</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="table-title">
  <a href=/>Clique aqui para voltar</a>
  <h3>Data Table</h3>
</div>
<table class="table-fill">
  <thead>
  <tr>
    <th class="text-left">Inválidos</th>
  </tr>
</thead>
<tbody class="table-hover">
  {{range .CPF}}
  <tr>
    <td class="text-left">{{.}}</td>
  </tr>
  {{end}}
</tbody>
</table>
</body>

