<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Data list</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="table-title">
  <a href=/cpf>Clique aqui para ver a lista de CPF/CNPJs inválidos</a>
  <h3>Data Table</h3>
</div>
<table class="table-fill">
  <thead>
  <tr>
    <th class="text-left">CPF</th>
    <th class="text-left">Private</th>
    <th class="text-left">Incompleto</th>
    <th class="text-left">Última compra</th>
    <th class="text-left">Ticket médio</th>
    <th class="text-left">Último ticket</th>
    <th class="text-left">Loja mais frequente</th>
    <th class="text-left">Loja última compra</th>
  </tr>
</thead>
<tbody class="table-hover">
  {{range .Data}}
  <tr>
    <td class="text-left">{{.Cpf}}</td>
    <td class="text-left">{{.Private}}</td>
    <td class="text-left">{{.Incompleto}}</td>
    <td class="text-left">{{.UltCompra}}</td>
    <td class="text-left">{{.TicketMedio}}</td>
    <td class="text-left">{{.TicketUltimo}}</td>
    <td class="text-left">{{.LojaMaisFreq}}</td>
    <td class="text-left">{{.LojaUltCompra}}</td>
  </tr>
  {{end}}
</tbody>
</table>
</body>

